@using MvcCv.Models.Entity
@model List<egitimlerim>

<div class="resume-section-content">
    <h2 class="mb-5">Eğitim Hayatım</h2>
    @foreach (var item in Model)
    {
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@item.baslik</h3>
                <div class="subheading mb-3">@item.altBaslik</div>
                <div>@item.altBaslik2</div>
                <p>GANO: @item.gano</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@item.tarih</span></div>
        </div>
    }

</div>
